<div class="new_registration">

<div class="button">

  <div class="research_title">
    <h2>新規登録</h2>
  </div>


    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <div class="my_profile_content">
        <%= f.label :email %><br />
      </div>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>


    <div class="field">
      <div class="my_profile_content">
      <%= f.label :name %> <br />
      </div>
      <%= f.text_field :name %>
    </div>


    <div class="field">
      <div class="my_profile_content">
      <%= f.label :password %>
      </div>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <div class="my_profile_content">
      <%= f.label :password_confirmation %><br />
      </div>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>


    <!--出身大学-->
    <div class="field">
      <div class="my_profile_content">
      <%= f.label :出身大学 %> <br />
      </div>
      <%= f.text_field :uni %>
    </div>

    <!--画像登録-->
    <div class="field">
      <div class="my_profile_content">
      <%= f.label :トップ画像 %><br/>
      </div>
      <%= f.file_field :image %>
    </div>

　<!--チェックボックス-->

    <div class="field">
      <div class="my_profile_content">
      <%= f.label :sex %><br />
      </div>
      <label><%= f.radio_button :sex, :"男性" %>男性</label>
      <label><%= f.radio_button :sex, :"女性" %>女性</label>
      <label><%= f.radio_button :sex, :"その他" %>その他</label>
   </div>


   <div class="field">
     <div class="my_profile_content">
     <%= f.label :annual %><br />
     </div>
     <label><%= f.radio_button :annual, :"1年目" %>1年目</label>
     <label><%= f.radio_button :annual, :"2-5年目" %>2-5年目</label>
     <label><%= f.radio_button :annual, :"6-10年目" %>6-10年目</label>
     <label><%= f.radio_button :annual, :"11-20年目" %>11-20年目</label>
     <label><%= f.radio_button :annual, :"21-30年目" %>21-30年目</label>
     <label><%= f.radio_button :annual, :"31年目以上" %>31年目以上</label>
  </div>

   <div class="field">
     <div class="my_profile_content">
     <%= f.label :work %><br />
     </div>
     <label><%= f.radio_button :work, :"幼稚園教員" %>幼稚園教員</label>
     <label><%= f.radio_button :work, :"公立小学教員" %>公立小学教員</label>
     <label><%= f.radio_button :work, :"私立小学教員" %>私立小学教員</label>
     <label><%= f.radio_button :work, :"公立中学教員" %>公立中学教員</label>
     <label><%= f.radio_button :work, :"私立中学教員" %>私立中学教員</label>
     <label><%= f.radio_button :work, :"公立高校教員" %>公立高校教員</label>
     <label><%= f.radio_button :work, :"私立高校教員" %>私立高校教員</label>
     <label><%= f.radio_button :work, :"大学教員" %>大学教員</label>
     <label><%= f.radio_button :work, :"塾講師" %>塾講師</label>
     <label><%= f.radio_button :work, :"教材開発" %>教材開発</label>
     <label><%= f.radio_button :work, :"学生" %>学生</label>
     <label><%= f.radio_button :work, :"NPO団体" %>NPO団体</label>
     <label><%= f.radio_button :work, :"知育ゲームメーカー" %>知育ゲームメーカー</label>
     <label><%= f.radio_button :work, :"事務職員" %>事務職員</label>
     <label><%= f.radio_button :work, :"その他" %>その他</label>
  </div>

  <div class="field">
    <div class="my_profile_content">
    <%= f.label :location %><br />
    </div>
    <label><%= f.radio_button :location, :"北海道" %>北海道</label>
    <label><%= f.radio_button :location, :"東北地方" %>東北地方</label>
    <label><%= f.radio_button :location, :"関東地方" %>関東地方</label>
    <label><%= f.radio_button :location, :"中部地方" %>中部地方</label>
    <label><%= f.radio_button :location, :"近畿地方" %>近畿地方</label>
    <label><%= f.radio_button :location, :"中国地方" %>中国地方</label>
    <label><%= f.radio_button :location, :"四国地方" %>四国地方</label>
    <label><%= f.radio_button :location, :"九州地方" %>九州地方</label>
    <label><%= f.radio_button :location, :"沖縄" %>沖縄</label>
    <label><%= f.radio_button :location, :"その他" %>その他</label>
 </div>


 <div class="field">
   <div class="my_profile_content">
     <%= f.label :subject %><br />
    </div>
   <label><%= f.radio_button :subject, :"国語" %>国語</label>
   <label><%= f.radio_button :subject, :"算数・数学" %>算数・数学</label>
   <label><%= f.radio_button :subject, :"理科" %>理科</label>
   <label><%= f.radio_button :subject, :"社会" %>社会</label>
   <label><%= f.radio_button :subject, :"音楽" %>音楽</label>
   <label><%= f.radio_button :subject, :"技術" %>技術</label>
   <label><%= f.radio_button :subject, :"家庭科" %>家庭科</label>
   <label><%= f.radio_button :subject, :"体育" %>体育</label>
   <label><%= f.radio_button :subject, :"保健" %>保健</label>
   <label><%= f.radio_button :subject, :"その他" %>その他</label>
</div>

<div class="field">
  <div class="my_profile_content">
    <label><%= f.label :club %><br />
  </div>
  <label><%= f.radio_button :club, :"なし" %>なし</label>
  <label><%= f.radio_button :club, :"サッカー" %>サッカー</label>
  <label><%= f.radio_button :club, :"野球" %>野球</label>
  <label><%= f.radio_button :club, :"バスケットボール" %>バスケットボール</label>
  <label><%= f.radio_button :club, :"テニス" %>テニス</label>
  <label><%= f.radio_button :club, :"卓球" %>卓球</label>
  <label><%= f.radio_button :club, :"陸上" %>陸上</label>
  <label><%= f.radio_button :club, :"バトミントン" %>バトミントン</label>
  <label><%= f.radio_button :club, :"ハンドボール" %>ハンドボール</label>
  <label><%= f.radio_button :club, :"体操" %>体操</label>
  <label><%= f.radio_button :club, :"水泳" %>水泳</label>
  <label><%= f.radio_button :club, :"柔道" %>柔道</label>
  <label><%= f.radio_button :club, :"剣道" %>剣道</label>
  <label><%= f.radio_button :club, :"弓道" %>弓道</label>
  <label><%= f.radio_button :club, :"茶道" %>茶道</label>
  <label><%= f.radio_button :club, :"美術" %>美術</label>
  <label><%= f.radio_button :club, :"その他" %>その他</label>

</div>

<!--自由記述欄-->
<div class="field">
  <div class="my_profile_content">
    <%= f.label :free_profile %><br/>
  </div>
  <%= f.text_area :free_profile %>
</div>

   <div class="actions">
     <%= f.submit "新規登録", :class => 'btn_new' %>
   </div>
  <% end %>
</div>
</div>
