<% if user_signed_in? %>
<!-- ユーザーがログインしているか調べる -->


<div class="beta">
  ※β版のため、デザインや機能など一部ご対応していない場合がございます。
  品質向上のため、お気づきの点ございましたら、
  お問い合わせフォームよりご連絡お願いいたします。
</div>
<div class="all_index">

  <%= render 'users', users: @users, q: @q %>


  <div class="under">


    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %> /
    <!-- ログアウトをする -->
    <%= link_to "利用規約", "https://www.kiyac.app/termsOfService/IrzxsMlYy79dPm8Re1OX", target: :_blank%>/
    <br><%= link_to "プライバシーポリシー", "https://www.kiyac.app/plivacypolicy/H6rB0RKR7nEDnfaNb3TJ" ,target: :_blank %> /
    <%= link_to '退会', user_path(current_user), method: :delete, data: {confirm: "本当に退会しますか？退会するとデータは元には戻りません。"} %>/
    <%= link_to "お問い合わせ", "https://docs.google.com/forms/d/e/1FAIpQLSeF8TVUKlYUpzIUQHzXn9_q7nx8c6jjis266VydmizX40f69w/viewform?vc=0&c=0&w=1&flr=0&gxids=7628" ,target: :_blank %> /


    <div class="twitter_end">
      <%= link_to  "https://twitter.com/Cataly_teacher",target: :_blank do %>
      <i class="fab fa-twitter-square"></i>
    </div>
    <% end %>
    <!-- twitterに遷移する -->
  </div>

</div>
<!--===================================================================================================
========================================================================================================
========================================================================================================
-->


<% else %>
<!-- ユーザーがログインしていなかった時の処理 -->


<div class="all_index">


  <%= image_tag 'cataly_promotion.png', :class => "cataly_promotion" %>

  <div class="cataly_promotion_icon">

    <div class="for_teacher_all">
      <%= image_tag 'for_teacher_promotion.png', :class => "for_teacher_promotion" %>
      <div class="for_teacher_sentence">
        <h2><strong>教育関係者向けコミュニケーションサービス</strong>　</h2>
        <br>同じ目標や悩みを持つ同士、経験豊富なメンターや次世代を担う若手と、
        チャットを通じてコミュニケーションが取れます。

      </div>
    </div>


    <div class="anonymous_all">
      <%= image_tag 'anonymous_promotion.png', :class => "anonymous_promotion" %>
      <div class="anonymous_sentence">
        <!--<h2><strong>安心な匿名性</strong></h2>
        <br>匿名を推奨しており、素直な気持ちで相談ができます-->

        <h2><strong>心地よい自己開示</strong></h2>
        <br>教育業界における様々なリスクを検討し、匿名を推奨しています。
      </div>
    </div>


    <div class="notification_off_all">
      <%= image_tag 'notification_off_promotion.png', :class => "notification_off_promotion" %>
      <div class="notification_off_sentence">

        <h2><strong>サービス利用料など不要</strong>　</h2>
        <br>本サービスは全て無償で提供しております。
        <br>※今後、サービス内容が変更される場合がございます。
      </div>
    </div>

  </div>



  <div class="beta">
    ※β版のため、デザインや機能など一部ご対応していない場合がございます。
    品質向上のため、お気づきの点ございましたら、
    お問い合わせフォームよりご連絡お願いいたします。
  </div>


  <div class="all_index">

    <%= render 'users', users: @users, q: @q %>

    <!-フッターのためのdiv定義-->
      <div class="under">

        <%= link_to "ログイン", new_user_session_path, class: 'post' %>
        <!-- ログイン画面に移行する -->/
        <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
        <!-- 新規登録画面に移行する -->/
        <br><%= link_to "利用規約", "https://www.kiyac.app/termsOfService/IrzxsMlYy79dPm8Re1OX", target: :_blank%>/
        <%= link_to "プライバシーポリシー", "https://www.kiyac.app/plivacypolicy/H6rB0RKR7nEDnfaNb3TJ" ,target: :_blank %> /
        <%= link_to "お問い合わせ", "https://docs.google.com/forms/d/e/1FAIpQLSeF8TVUKlYUpzIUQHzXn9_q7nx8c6jjis266VydmizX40f69w/viewform?vc=0&c=0&w=1&flr=0&gxids=7628" ,target: :_blank %> /
        <div class="twitter_end">
          <%= link_to  "https://twitter.com/Cataly_teacher",target: :_blank do %>
          <i class="fab fa-twitter-square"></i>
        </div>
        <% end %>
        <!-- twitterに遷移する -->
      </div>

  </div>

  <% end %>



  <!--ラジオボタンの取り消しjquery-->
  <script>
    var number;
    $(function() {
      $('input').click(function() {
        if ($(this).val() == number || !$(this).is(':checked')) {
          $(this).prop('checked', false);
          number = 0;
          $(this).parent().removeClass("checked");
        } else {
          number = $(this).val();
          $(this).parent().addClass("checked");
        }
      });
    });
  </script>