<% if user_signed_in? %> <!-- ユーザーがログインしているか調べる -->


        <div class="beta">
          ※β版のため、デザインや機能など一部ご対応していない場合がございます。
          品質向上のため、お気づきの点ございましたら、
          お問い合わせフォームよりご連絡お願いいたします。
        </div>


<div class="all_index">

  <!-- ユーザーがログインしていた時の処理 -->

<div class="button">
  <div class="research_title">
    <h2><i class="fas fa-search"></i>検索</h2>
  </div>
　<!--検索機能　ボックス-->

  <div class="research_title">
    <%= search_form_for @q,url: root_path(anchor: "research_first") do |f| %>
    <i class="fas fa-pencil-alt"></i><%= f.label :name_cont, " フリーワード" %>
  </div>

      <%= f.search_field :name_or_uni_or_free_profile_cont , placeholder: "大学名、プロフィール内容", class: "research_text"%>

　<!--検索機能　チェックボックス-->



       <div class="research_title">
            <i class="fas fa-briefcase"></i><%= " 職業" %>
          </div>

      <div class="research_check">
        <% if params[:q].present? %>
          <%= f.collection_check_boxes(:work_eq_any, User.works, :last, :first, checked: params[:q][:work_eq_any]) do |b| %>
          <%= b.label(class: "checkbox02 #{ 'checked' if params[:q][:work_eq_any].map{ |a| a.to_i }&.include?(b.object.last)}") { b.check_box(class: "research_check_box") + b.text } %>
        <% end %>
        <% else %>
            <%= f.collection_check_boxes(:work_eq_any, User.works, :last, :first) do |b| %>
            <%= b.label(class: "checkbox02 ") { b.check_box(class: "research_check_box") + b.text } %>
          <% end %>
        <% end %>
      </div>

      <div class="research_title">
        <i class="fas fa-user-check"></i><%= " 職位" %>
        </div>

      <div class="research_check">
        <% if params[:q].present? %>
          <%= f.collection_check_boxes(:position_eq_any, User.positions, :last, :first, checked: params[:q][:position_eq_any]) do |b| %>
          <%= b.label(class: "checkbox02 #{ 'checked' if params[:q][:position_eq_any].map{ |a| a.to_i }&.include?(b.object.last)}") { b.check_box(class: "research_check_box") + b.text } %>
        <% end %>
        <% else %>
            <%= f.collection_check_boxes(:position_eq_any, User.positions, :last, :first) do |b| %>
            <%= b.label(class: "checkbox02 ") { b.check_box(class: "research_check_box") + b.text } %>
          <% end %>
        <% end %>
      </div>


      <div class="research_title">
        <i class="fas fa-house-user"></i><%= " お住まい" %>
        </div>
 <% if params[:q].present? %>
          <%= f.collection_check_boxes(:location_eq_any, User.locations, :last, :first, checked: params[:q][:location_eq_any]) do |b| %>
          <%= b.label(class: "checkbox02 #{ 'checked' if params[:q][:location_eq_any].map{ |a| a.to_i }&.include?(b.object.last)}") { b.check_box(class: "research_check_box") + b.text } %>
        <% end %>
        <% else %>
            <%= f.collection_check_boxes(:location_eq_any, User.locations, :last, :first) do |b| %>
            <%= b.label(class: "checkbox02 ") { b.check_box(class: "research_check_box") + b.text } %>
          <% end %>
        <% end %>


      <div class="research_title">
      <i class="fas fa-clock"></i><%= " 年次" %>
        </div>
        <% if params[:q].present? %>
          <%= f.collection_check_boxes(:annual_eq_any, User.annuals, :last, :first, checked: params[:q][:annual_eq_any]) do |b| %>
          <%= b.label(class: "checkbox02 #{ 'checked' if params[:q][:annual_eq_any].map{ |a| a.to_i }&.include?(b.object.last)}") { b.check_box(class: "research_check_box") + b.text } %>
        <% end %>
        <% else %>
            <%= f.collection_check_boxes(:annual_eq_any, User.annuals, :last, :first) do |b| %>
            <%= b.label(class: "checkbox02 ") { b.check_box(class: "research_check_box") + b.text } %>
          <% end %>
        <% end %>


      <div class="research_title">
        <i class="fas fa-book-open"></i><%= " 専門科目" %>
        </div>
        <% if params[:q].present? %>
          <%= f.collection_check_boxes(:subject_eq_any, User.subjects, :last, :first, checked: params[:q][:subject_eq_any]) do |b| %>
          <%= b.label(class: "checkbox02 #{ 'checked' if params[:q][:subject_eq_any].map{ |a| a.to_i }&.include?(b.object.last)}") { b.check_box(class: "research_check_box") + b.text } %>
        <% end %>
        <% else %>
            <%= f.collection_check_boxes(:subject_eq_any, User.subjects, :last, :first) do |b| %>
            <%= b.label(class: "checkbox02 ") { b.check_box(class: "research_check_box") + b.text } %>
          <% end %>
        <% end %>



      <div class="research_title">
        <i class="fas fa-futbol"></i><%=" 部活（サークル）顧問" %>
        </div>
        <% if params[:q].present? %>
          <%= f.collection_check_boxes(:club_eq_any, User.clubs, :last, :first, checked: params[:q][:club_eq_any]) do |b| %>
          <%= b.label(class: "checkbox02 #{ 'checked' if params[:q][:club_eq_any].map{ |a| a.to_i }&.include?(b.object.last)}") { b.check_box(class: "research_check_box") + b.text } %>
        <% end %>
        <% else %>
            <%= f.collection_check_boxes(:club_eq_any, User.clubs, :last, :first) do |b| %>
            <%= b.label(class: "checkbox02 ") { b.check_box(class: "research_check_box") + b.text } %>
          <% end %>
        <% end %>

      <div class="research_title">
        <i class="fas fa-transgender-alt"></i><%= " 性別" %>
      </div>
        <% if params[:q].present? %>
          <%= f.collection_check_boxes(:sex_eq_any, User.sexes, :last, :first, checked: params[:q][:sex_eq_any]) do |b| %>
          <%= b.label(class: "checkbox02 #{ 'checked' if params[:q][:sex_eq_any].map{ |a| a.to_i }&.include?(b.object.last)}") { b.check_box(class: "research_check_box") + b.text } %>
        <% end %>
        <% else %>
            <%= f.collection_check_boxes(:sex_eq_any, User.sexes, :last, :first) do |b| %>
            <%= b.label(class: "checkbox02 ") { b.check_box(class: "research_check_box") + b.text } %>
          <% end %>
        <% end %>


    <%= f.submit "検索" , :class => 'research_button',:id=>'research_button'%>



  </div>

    <% end %>


  <!--ユーザー一覧-->
  <div class="all_users">

   <div class="user_midashi" id="research_first">
      <b><i class="fas fa-users"></i>ユーザー一覧</b>
    </div>

 <% @users.each do |user| %>
     <% if user.consalting == "はい" %>
        <%= link_to "/users/#{user.id}/show" do %>
            <div class="all_users_user">
                <% if user.sex == "男性" %>
                  <br><img src=<%= user.image %> class = "icon_image_men"></br>
                <% elsif user.sex == "女性"%>
                  <br><img src=<%= user.image %> class = "icon_image_women"></br>
                <%else%>
                  <br><img src=<%= user.image %> class = "icon_image_other"></br>
                <% end %>

                <br><i class="fas fa-file-signature"></i> <%= user.name %></br>
                <br><i class="fas fa-briefcase"></i> <%= user.work %></br>
                <br><i class="fas fa-clock"></i> <%= user.annual %></br>
            </div>
        <% end %>
     <% end %>
  <% end %>
  </div>

      <div class="kaminari">
        <%= paginate @users, theme: 'my_custom_theme' %>
      </div>

      <div class="under">

        
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %> /<!-- ログアウトをする -->
        <%= link_to "利用規約", "https://www.kiyac.app/termsOfService/IrzxsMlYy79dPm8Re1OX", target: :_blank%>/ 
        <br><%= link_to "プライバシーポリシー", "https://www.kiyac.app/plivacypolicy/H6rB0RKR7nEDnfaNb3TJ" ,target: :_blank %> /
        <%= link_to '退会', user_path(current_user), method: :delete, data: {confirm: "本当に退会しますか？退会するとデータは元には戻りません。"} %>/
        <%= link_to "お問い合わせ", "https://docs.google.com/forms/d/e/1FAIpQLSeF8TVUKlYUpzIUQHzXn9_q7nx8c6jjis266VydmizX40f69w/viewform?vc=0&c=0&w=1&flr=0&gxids=7628" ,target: :_blank %> /
        

        <div class="twitter_end">
          <%= link_to  "https://twitter.com/Cataly_teacher",target: :_blank do %>
          <i class="fab fa-twitter-square"></i>
        </div>
      <% end %><!-- twitterに遷移する -->
      </div>

  </div>
<!--===================================================================================================
========================================================================================================
========================================================================================================
-->


<% else %>
  <!-- ユーザーがログインしていなかった時の処理 -->


  <div class="all_index">


    <%= image_tag 'cataly_promotion.png', :class => "cataly_promotion" %>

<div class="cataly_promotion_icon">

    <div class="for_teacher_all">
      <%= image_tag 'for_teacher_promotion.png', :class => "for_teacher_promotion" %>
      <div class="for_teacher_sentence">
        <h2><strong>教育関係者向けコミュニケーションサービス</strong>　</h2>
        <br>同じ目標や悩みを持つ同士、経験豊富なメンターや次世代を担う若手と、
        チャットを通じてコミュニケーションが取れます。
        
      </div>
    </div>


    <div class="anonymous_all">
      <%= image_tag 'anonymous_promotion.png', :class => "anonymous_promotion" %>
      <div class="anonymous_sentence">
        <!--<h2><strong>安心な匿名性</strong></h2>
        <br>匿名を推奨しており、素直な気持ちで相談ができます-->
                
        <h2><strong>心地よい自己開示</strong></h2>
        <br>教育業界における様々なリスクを検討し、匿名を推奨しています。
      </div>
    </div>


    <div class="notification_off_all">
      <%= image_tag 'notification_off_promotion.png', :class => "notification_off_promotion" %>
      <div class="notification_off_sentence">
        <!--<h2><strong>自分の時間を大切にできる</strong>　</h2>
        <br>メールによる通知機能を付けていないため、双方のペースでコミュニケーションが取れます-->

        <h2><strong>自分の時間を大切にできる</strong>　</h2>
        <br>メールによる通知機能を付けていません。郵便ポストを開けるみたいに、自分のペースで連絡が確認できます。
      </div>
    </div>

</div>

        
        
        <div class="beta">
          ※β版のため、デザインや機能など一部ご対応していない場合がございます。
          品質向上のため、お気づきの点ございましたら、
          お問い合わせフォームよりご連絡お願いいたします。
        </div>



    <!-- ユーザーがログインしていた時の処理 -->
    <div class="button">
    <div class="research_title">
      <h2><i class="fas fa-search"></i>検索</h2>
    </div>
  　<!--検索機能　ボックス-->

  <div class="research_title">
    <%= search_form_for @q,url: root_path(anchor: "research_first") do |f| %>
    <i class="fas fa-pencil-alt"></i><%= f.label :name_cont, " フリーワード" %>
  </div>

        <%= f.search_field :name_or_uni_or_free_profile_cont , placeholder: "大学名、プロフィール内容", class: "research_text"%>

　<!--検索機能　チェックボックス-->



       <div class="research_title">
            <i class="fas fa-briefcase"></i><%= " 職業" %>
          </div>

      <div class="research_check">
        <% if params[:q].present? %>
          <%= f.collection_check_boxes(:work_eq_any, User.works, :last, :first, checked: params[:q][:work_eq_any]) do |b| %>
          <%= b.label(class: "checkbox02 #{ 'checked' if params[:q][:work_eq_any].map{ |a| a.to_i }&.include?(b.object.last)}") { b.check_box(class: "research_check_box") + b.text } %>
        <% end %>
        <% else %>
            <%= f.collection_check_boxes(:work_eq_any, User.works, :last, :first) do |b| %>
            <%= b.label(class: "checkbox02 ") { b.check_box(class: "research_check_box") + b.text } %>
          <% end %>
        <% end %>
      </div>

      <div class="research_title">
        <i class="fas fa-user-check"></i><%= " 職位" %>
        </div>

      <div class="research_check">
        <% if params[:q].present? %>
          <%= f.collection_check_boxes(:position_eq_any, User.positions, :last, :first, checked: params[:q][:position_eq_any]) do |b| %>
          <%= b.label(class: "checkbox02 #{ 'checked' if params[:q][:position_eq_any].map{ |a| a.to_i }&.include?(b.object.last)}") { b.check_box(class: "research_check_box") + b.text } %>
        <% end %>
        <% else %>
            <%= f.collection_check_boxes(:position_eq_any, User.positions, :last, :first) do |b| %>
            <%= b.label(class: "checkbox02 ") { b.check_box(class: "research_check_box") + b.text } %>
          <% end %>
        <% end %>
      </div>


      <div class="research_title">
        <i class="fas fa-house-user"></i><%= " お住まい" %>
        </div>
 <% if params[:q].present? %>
          <%= f.collection_check_boxes(:location_eq_any, User.locations, :last, :first, checked: params[:q][:location_eq_any]) do |b| %>
          <%= b.label(class: "checkbox02 #{ 'checked' if params[:q][:location_eq_any].map{ |a| a.to_i }&.include?(b.object.last)}") { b.check_box(class: "research_check_box") + b.text } %>
        <% end %>
        <% else %>
            <%= f.collection_check_boxes(:location_eq_any, User.locations, :last, :first) do |b| %>
            <%= b.label(class: "checkbox02 ") { b.check_box(class: "research_check_box") + b.text } %>
          <% end %>
        <% end %>


      <div class="research_title">
      <i class="fas fa-clock"></i><%= " 年次" %>
        </div>
        <% if params[:q].present? %>
          <%= f.collection_check_boxes(:annual_eq_any, User.annuals, :last, :first, checked: params[:q][:annual_eq_any]) do |b| %>
          <%= b.label(class: "checkbox02 #{ 'checked' if params[:q][:annual_eq_any].map{ |a| a.to_i }&.include?(b.object.last)}") { b.check_box(class: "research_check_box") + b.text } %>
        <% end %>
        <% else %>
            <%= f.collection_check_boxes(:annual_eq_any, User.annuals, :last, :first) do |b| %>
            <%= b.label(class: "checkbox02 ") { b.check_box(class: "research_check_box") + b.text } %>
          <% end %>
        <% end %>


      <div class="research_title">
        <i class="fas fa-book-open"></i><%= " 専門科目" %>
        </div>
        <% if params[:q].present? %>
          <%= f.collection_check_boxes(:subject_eq_any, User.subjects, :last, :first, checked: params[:q][:subject_eq_any]) do |b| %>
          <%= b.label(class: "checkbox02 #{ 'checked' if params[:q][:subject_eq_any].map{ |a| a.to_i }&.include?(b.object.last)}") { b.check_box(class: "research_check_box") + b.text } %>
        <% end %>
        <% else %>
            <%= f.collection_check_boxes(:subject_eq_any, User.subjects, :last, :first) do |b| %>
            <%= b.label(class: "checkbox02 ") { b.check_box(class: "research_check_box") + b.text } %>
          <% end %>
        <% end %>



      <div class="research_title">
        <i class="fas fa-futbol"></i><%=" 部活（サークル）顧問" %>
        </div>
        <% if params[:q].present? %>
          <%= f.collection_check_boxes(:club_eq_any, User.clubs, :last, :first, checked: params[:q][:club_eq_any]) do |b| %>
          <%= b.label(class: "checkbox02 #{ 'checked' if params[:q][:club_eq_any].map{ |a| a.to_i }&.include?(b.object.last)}") { b.check_box(class: "research_check_box") + b.text } %>
        <% end %>
        <% else %>
            <%= f.collection_check_boxes(:club_eq_any, User.clubs, :last, :first) do |b| %>
            <%= b.label(class: "checkbox02 ") { b.check_box(class: "research_check_box") + b.text } %>
          <% end %>
        <% end %>

      <div class="research_title">
        <i class="fas fa-transgender-alt"></i><%= " 性別" %>
      </div>
        <% if params[:q].present? %>
          <%= f.collection_check_boxes(:sex_eq_any, User.sexes, :last, :first, checked: params[:q][:sex_eq_any]) do |b| %>
          <%= b.label(class: "checkbox02 #{ 'checked' if params[:q][:sex_eq_any].map{ |a| a.to_i }&.include?(b.object.last)}") { b.check_box(class: "research_check_box") + b.text } %>
        <% end %>
        <% else %>
            <%= f.collection_check_boxes(:sex_eq_any, User.sexes, :last, :first) do |b| %>
            <%= b.label(class: "checkbox02 ") { b.check_box(class: "research_check_box") + b.text } %>
          <% end %>
        <% end %>


    <%= f.submit "検索" , :class => 'research_button',:id=>'research_button'%>



  </div>

    <% end %>


    <!--ユーザー一覧-->
    <div class="all_users">

    <div class="user_midashi" id="research_first">
      <b><i class="fas fa-users"></i>ユーザー一覧</b>
    </div>

    <% @users.each do |user| %>
        <% if user.consalting == "はい" %>
           <%= link_to "/users/#{user.id}/show" do %>
               <div class="all_users_user">
                   <% if user.sex == "男性" %>
                     <br><img src=<%= user.image %> class = "icon_image_men"></br>
                   <% elsif user.sex == "女性"%>
                     <br><img src=<%= user.image %> class = "icon_image_women"></br>
                   <%else%>
                     <br><img src=<%= user.image %> class = "icon_image_other"></br>
                   <% end %>
   
                   <br><i class="fas fa-file-signature"></i> <%= user.name %></br>
                   <br><i class="fas fa-briefcase"></i> <%= user.work %></br>
                   <br><i class="fas fa-clock"></i> <%= user.annual %></br>
               </div>
           <% end %>
        <% end %>
     <% end %>
     </div>

        <div class="kaminari">
          <%= paginate @users %>
        </div>


        <!-フッターのためのdiv定義-->
    <div class="under">

          <%= link_to "ログイン", new_user_session_path, class: 'post' %> <!-- ログイン画面に移行する -->/
          <%= link_to "新規登録", new_user_registration_path, class: 'post' %> <!-- 新規登録画面に移行する -->/
          <br><%= link_to "利用規約", "https://www.kiyac.app/termsOfService/IrzxsMlYy79dPm8Re1OX", target: :_blank%>/ 
          <%= link_to "プライバシーポリシー", "https://www.kiyac.app/plivacypolicy/H6rB0RKR7nEDnfaNb3TJ" ,target: :_blank %> /
          <%= link_to "お問い合わせ", "https://docs.google.com/forms/d/e/1FAIpQLSeF8TVUKlYUpzIUQHzXn9_q7nx8c6jjis266VydmizX40f69w/viewform?vc=0&c=0&w=1&flr=0&gxids=7628" ,target: :_blank %> /
          <div class="twitter_end">
            <%= link_to  "https://twitter.com/Cataly_teacher",target: :_blank do %>
            <i class="fab fa-twitter-square"></i>
          </div>
        <% end %><!-- twitterに遷移する -->
      </div>

    </div>

 <% end %>



<!--ラジオボタンの取り消しjquery-->
<!--ラジオボタンの取り消しjquery-->
<script>
  var number;
  $(function() {
    $('input').click(function() {
      if ($(this).val() == number || !$(this).is(':checked')) {
        $(this).prop('checked', false);
        number = 0;
        $(this).parent().removeClass("checked");
      } else {
        number = $(this).val();
        $(this).parent().addClass("checked");
      }
    });
  });
</script>

