
<div class="user_profile">
<div class="my_profile">
<div class="research_title">
<h2>プロフィール</h2>
</div>




<% if @user.id == current_user.id %>
  <%= link_to "編集", "/users/edit" , class: 'btn_edit_my_profile'%> <!-- 編集ページに遷移する -->
<% end%>

<div class="my_profile_content">
  <h3>お名前</h3>
</div>
<%= @user.name %>

  <% if @user.sex == "男性" %>
    <br><img src=<%= @user.image %> class = "icon_image_men"></br>
  <% elsif @user.sex == "女性"%>
    <br><img src=<%= @user.image %> class = "icon_image_women"></br>
  <%else%>
    <br><img src=<%= @user.image %> class = "icon_image_other"></br>
  <% end %>

  <div class="my_profile_content">
    <h3>性別</h3>
  </div>
  <%= @user.sex %>
  <div class="my_profile_content">
    <h3>職業</h3>
  </div>
  <%= @user.work %>
  <div class="my_profile_content">
    <h3>出身大学</h3>
  </div>
  <%= @user.uni %>

  <div class="my_profile_content">
    <h3>年次</h3>
  </div>
  <%= @user.annual %>
  <div class="my_profile_content">
    <h3>お住まい</h3>
  </div>
  <%= @user.location %>
  <div class="my_profile_content">
    <h3>専門科目</h3>
  </div>
  <%= @user.subject %>
  <div class="my_profile_content">
    <h3>部活（サークル）顧問</h3>
  </div>
  <%= @user.club %>
  <div class="my_profile_content">
    <h3>自由記述欄</h3>
  </div>
    <%= simple_format(@user.free_profile) %>



</div>


<% if @user.id == current_user.id %>

<% else %>
  <% if @isRoom == true %>
    <p><a href="/rooms/<%= @roomId %>">チャットへ</a>
  <% else %>
    <%= form_for @room do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, :value=> @user.id %>
      <% end %>
      <%= f.submit "チャットを始める" %>
    <% end %>
  <% end %>
<% end %>

</div>
