<div class="user_profile">

  <!--非公開情報-->

  <% if @user.id == current_user.id %>
  <div class="my_profile">
    <div class="research_title">
      <h2>非公開情報</h2>
    </div>

    <div class="my_profile_content2">
      メールアドレス　　：　<%= @user.email %>
    </div>

    <div class="my_profile_content3">
      メール通知　　　　：　 <% if @user.send_mail == true %>
      <%= "受け取ります" %>
      <% else %>
      <%= "受け取りません" %>
      <% end %>
    </div>

    <div class="my_profile_content2">
      ユーザー一覧へ表示しますか？　：　<%= @user.consalting %>
    </div>

    <!-- 編集ページに遷移する -->
    <br>
    <% if @user.id == current_user.id %>
    <%= link_to "編集", edit_user_registration_path(anchor: 'edit_no_open') , class: 'btn_edit_my_profile'%>
    <!-- 編集ページに遷移する -->
    <% end%>
    <% end%>
  </div>



  <div class="my_profile">
    <!--公開情報-->
    <div class="research_title">
      <h2>公開情報</h2>
    </div>

    <br>

    <div class="my_profile_all_name">

      <% if @user.sex == "男性" %>
      <br><img src=<%= @user.image %> class="icon_image_men"></br>
      <% elsif @user.sex == "女性"%>
      <br><img src=<%= @user.image %> class="icon_image_women"></br>
      <%else%>
      <br><img src=<%= @user.image %> class="icon_image_other"></br>
      <% end %>

      <div class="my_profile_name_message">
        <div class="my_profile_name">
          <%= @user.name %>
        </div>
        <% if @user.consalting == "はい" %>
        <% if @user.id == current_user.id %>
        <% else %>
        <% if @isRoom == true %>
        <div class="first_send_button">
          <p><a href="/rooms/<%= @roomId %>">
              <div class="envelope">
                <i class="far fa-envelope"></i>
              </div>
            </a>
        </div>
        <% else %>
        <%= form_for @room do |f| %>
        <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, :value=> @user.id %>
        <% end %>

        <%= button_tag :type => "submit" do %>
        <div class="envelope">
          <i class="far fa-envelope"></i>
        </div>
        <% end %>
        <% end %>
        <% end %>
        <% end %>
      </div>
    </div>

    <div class="my_profile_content2">
      性別　　　：　<%= @user.sex %>
    </div>

    <div class="my_profile_content3">
      職業　　　：　<%= @user.work %>
    </div>

    <div class="my_profile_content2">
      職位　　　：　<%= @user.position %>
    </div>

    <div class="my_profile_content3">
      出身大学　：　<%= @user.uni %>
    </div>

    <div class="my_profile_content2">
      年次　　　：　<%= @user.annual %>
    </div>

    <div class="my_profile_content3">
      お住まい　：　<%= @user.location %>
    </div>

    <div class="my_profile_content2">
      担当科目　：　<%= @user.subject %>
    </div>

    <div class="my_profile_content3">
      部活顧問　：　<%= @user.club %>
    </div>

    <div class="my_profile_content2">
      自己紹介
    </div>
    <%= safe_join(@user.free_profile.split("\n"), tag(:br)) %>
    <% end %>

    <br>
    <% if @user.id == current_user.id %>
    <%= link_to "編集", edit_user_registration_path(anchor: 'edit_open') , class: 'btn_edit_my_profile'%>
    <!-- 編集ページに遷移する -->
    <% end%>


  </div>
</div>